/*
    Jesse Shults
    File Name: apply09.css
    Date: 09/22/2025
*/

/* CSS reset */
body, header, main, section, footer, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body styles */
body {
    background-color: #e5e0fa;
}

/* Header styles */
header {
    padding: 2%;
    color: #110934;
    text-align: center;
    font-size: 2em;
}

/* Main styles */
main {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
    padding: 2%;
    background-color: #fff;
}

/* Footer styles */
footer {
    font-size: 0.9em;
    text-align: center;
    margin-top: 2em;
}

/* Desktop Viewport */
@media screen and (min-width: 769px) {
    main {
        margin-bottom: 1%;
        overflow: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
    }
}

/* Large Desktop Viewport */
@media screen and (min-width: 1441px) {
    #container {
        width: 1440px;
        margin: 0 auto;
    }
}
